html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 16.5dip;
}

body {
  margin: 0;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  text-align: left;
  background-color: #fff
}

.p-4 {
  padding: 1.5rem !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem);
  padding: .75rem 1.5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  border-color: rgba(255, 255, 255, 0);
  transition: outline-color quad-in-out .15s, box-shadow quad-in-out .15s;
}

.form-control:focus, button:active {
  color: #55595c;
  background-color: #f7f7f9;
  outline-color: #C6C6C6;
  outline-width: .2rem;
  outline-style: solid;
  border-radius: 0;
  outline-offset: -1dip;
}

textarea {
  overflow: auto;
  resize: vertical
}

textarea.form-control {
  height: 88dip;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

input:empty, textarea:empty {
  color: #919aa1;
  opacity: 1
}

@import url(date-plus.css);

.btn {
  transition: border-color quad-in-out .15s, box-shadow quad-in-out .15s;
  cursor: pointer;
  style-set: std-button-base;
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: #55595c;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0 solid transparent;
  padding: .75rem 1.5rem;
  font-size: .875rem;
  line-height: 1.5rem;
  border-radius: 0;
  transition: color .15s quad-in-out, background-color .15s quad-in-out, border-color .15s quad-in-out, box-shadow .15s quad-in-out
}

.btn-primary {
  text-transform: uppercase;
  color: #fff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.btn-primary:hover {
  color: #fff;
  background-color: #070707;
  border-color: #010101
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #070707;
  border-color: #010101;
  outline-color: #C6C6C6;
  outline-width: .3rem;
  outline-style: solid;
  border-radius: 0;
  outline-offset: -1dip;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #1a1a1a
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #010101;
  border-color: #000
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(60, 60, 60, .5)
}

.btn-block {
  display: block;
  width: *;
}

.btn-block+.btn-block {
  margin-top: .5rem
}

popup {
  background-color: white;
}